footer {
    background-color: rgb(50, 48, 48);
    height: 160px;
    .footer {
        display: flex;
        height: 100%;
        .footer_container {
            display: flex;
            width: 100%;
            align-items: center;
            .footer_block {
                display: flex;
                justify-content: space-between;
                width: 100%;
                .info_container {
                    .info_title {
                        font-size: 17px;
                        color: rgb(255, 255, 255);
                    }
                    .info_text {
                        margin-top: 10px;
                        margin-bottom: 10px;
                        color: rgb(255, 255, 255);
                    }
                }
            }
            .logo {
                height: 80px;
                margin-right: 50px;
            }
        }

    }
}
